# SPDX-FileCopyrightText: 2025 Guilherme Leoi <leoi.guilherme@aluno.ufabc.edu.br>
#
# SPDX-License-Identifier: 0BSD OR CC0-1.0

inputs/Low[[:space:]]Angle[[:space:]]View[[:space:]]of[[:space:]]Cat[[:space:]]on[[:space:]]Tree.ppm filter=lfs diff=lfs merge=lfs -text
